body {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    background: #212738;
    color: #F9F4F5;
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 20px;
}

header {
    display: grid;
    grid-row: 1;
    padding: 40px 10px;
}

h1 {
    font-size: 52px;
    font-weight: 600;
}


button {
    padding: 5px 10px;
    background: #E84C44;
    color: #F9F4F5;
    border-style: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 40px auto;
    padding: 30px 20px;
    color: #212738;
    background: #F9F4F5;
    border-radius: 5px;
}

.form-container > label {
    font-weight: 600;
}

.form-container > input {
    margin: 5px 0px 20px 0px;
    padding: 5px 5px;
    font-size: 16px;
    font-family: "Work Sans", Helvetica, sans-serif;
}

.form-container > button {
    align-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.players {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 24px;
}

.current-player {
    border-bottom: 5px solid #E84C44;
}

.game-container {
    display: grid;
    grid-template-rows: repeat(3, 110px);
    grid-template-columns: repeat(3, 110px);
    row-gap: 6px;
    column-gap: 6px;
    background-color: #F9F4F5;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212738;
    font-size: 64px;
}

.game-cell:hover {
    cursor: pointer;
}

.game-cell img {
    width: 60px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.modal {
    display: absolute;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,0.4);
}

#announce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 360px;
    margin: 10% auto;
    padding: 10px;
    color: #212738;
    background: #F9F4F5;
    font-size: 30px;
    border-radius: 5px;
}

#announce > button {
    margin-top: 30px;
}

.hidden {
    display: none;
}